/* Déclaration */
@blue: #2980b9;
@midnightblue: #2c3e50;
@magenta: #FF17B6;
@red: #c0392b;
@lime: #B6FF17;
@green: #1BFF17;
@silver: #bdc3c7;
@grey: #95a5a6;
@black: #000000;
@white: #FFFFFF;
@white-broke: #AAAAAA;

/* Utilisation */
body {
  margin: 0;
  width: 100%;
  font-family: Andale Mono, monospace;
  background-color: #f5f5f5;

  .Saisie{
    width: 100%;
    height: auto;
    display: inline-flex;
    .URL{
      input[name=InputURL]{
        width: 70%;
      }
    }

    select{
      width: 10%;
    }
  }
  .result{
    margin: auto;
    width: 70%;
    text-align: justify;
    padding-top: 10%;
  }
}
